@import url('https://fonts.googleapis.com/css2?family=Antonio:wght@400;700&display=swap');

* {
  box-sizing: border-box;
}

body {
  font-family: 'Antonio', sans-serif;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  margin: 0;
  background: #111;
  height: 100vh;
}